#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #8a8e75;
}

h1{
  color: #242715;
}

h2{
  color:#2d2f22
}

h5{
  color: #2d2f22;
}

